<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--Файловый аппендер -->
    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>./bin/main/resources/logs/novLog.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</Pattern>
        </layout>
    </appender>
    <!-- Корневой логгер -->
    <root level="debug">
        <appender-ref ref="file" />
    </root>
</configuration>